**/__pycache__/
**/.ipynb_checkpoints
**/for_ogier_doc2doc/
**/TODOC.txt

*.crt

build/
vocabulary/
docker/log*.txt
docker/id_rsa
coproximity_create_vocabulary.egg-info/
coproximity_create_vocabulary/.env