**/__pycache__/
**/.ipynb_checkpoints
**/for_ogier_doc2doc/
**/TODOC.txt

build/
vocabulary/
docker/log.txt
coproximity_create_vocabulary/data_conf.py
coproximity_create_vocabulary.egg-info/
coproximity_create_vocabulary/.env